*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background: linear-gradient(to bottom left, #ff66ff -11%, #99ffcc 100%);
    overflow: hidden;
    position:relative;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'Butterfly Kids', cursive;
    font-size:3em;
}


h1, h2{
    background-image:linear-gradient(to right,darkblue,yellow ,pink, green,red, blue,purple);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;   
}


.main-img {
    font-size:60vh;
    text-align: center;
}


.main-img a {
    color:red;
    text-decoration: none;
}


#color {
    position:relative;
    bottom:5%;
    text-align:center;
}


#mots p {
    display:none;
    font-size:5em;
    text-align:center;   
}


.svg{
   position:absolute;
   bottom:5%;
}


footer{
    position:absolute;
    bottom:0;
    height: 4em;
    background-color: rgb(230, 201, 215);
    width:100vw;
}


footer p{
    text-align:center;
    font-size:20px;
    
    color:rgb(241, 112, 241);
    margin: 7px;
}


@media screen and (max-width: 640px){
    
    body{
      height:100vh;
      width:100vw;
      background-repeat: no-repeat;
      overflow: hidden;
    }


    header{
        text-align:center;
        font-size: 25px;
    }

    .main-img{
        font-size:250px;
        text-align:center;
     }

    
footer{
    position:absolute;
    bottom:0;
    height: 7rem;
    background-color: rgb(230, 201, 215);
    width:100%;
}

    .svg{
       position:absolute;
       bottom:3%;
       width:5px;
       height:5px;
       
        }
}




